---
import { Image } from "astro:assets";
 import face from "../../public/face.png";
 import insta from "../../public/insta.png";
 import logo from "../../public/logo-inn.png";

 import reloj from "../../public/reloj.png"
 import whatsapp from "../../public/whatsapp.png"
 import mail from "../../public/mail.png"
---

<footer id="footer" class="relative h-[440px] bg-no-repeat bg-cover bg-center bg-[url('/public/fondo1.png')] shadow">


    <div class="sm:flex sm:items-center sm:justify-between lg:flex lg:flex-row lg:justify-between mx-10">
     
      <div class="flex flex-col items-center text-white  mb-4 sm:mb-0">
         <Image class="w-[350px]" src={logo} alt="Innova logo" />
        <div>
          <h5 class="my-2">Siguenos en Nuestas Redes Sociales</h5>
          <div class="flex flex-row justify-center">
            <Image class="h-10 w-10 mr-2" src={face} alt="Instagram logo" />
            <Image class="h-10 w-10 mr-2" src={insta} alt="Instagram logo" />
          </div>
        </div>
      </div>

      <div class="flex flex-col text-sm font-medium text-center text-white">
        <div class="flex items-center justify-center m-2">
          <Image class="w-8 m-2" src={mail} alt="" />
          <a href="#" class="hover:underline ">info@innovalinkcr.com</a>
        </div>
        <div class="flex items-center justify-center m-2">
          <Image class="w-8 m-2" src={whatsapp} alt="" />
          <h3>+506 0000000</h3>
        </div>
        <div class="flex flex-col  items-center justify-center m-2">
          <div class="flex flex-row justify-center items-center ">
            <Image class="w-8 m-2" src={reloj} alt="" />
            <h3>Horario de Atencion</h3>
          </div>
          <p>
            Lunes a Viernes 8:00 am a 6:00 pm
            <br>
            Sabado y Domingo 10:00 am a 4:00 pm
          </p>
        </div>
      </div>
    </div>


    <span class="block text-sm text-gray-500 text-center dark:text-gray-400 mt-8">
      © 2025 <a href="#" class="hover:underline">Innovalinkcr</a>. Todos los derechos reservados.
    </span>

</footer>
